<!--
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Minhas campanhas</h1>
<p>Este é um projeto para gerência de campanhas de rpg.</p>
<p>Este projeto é open source, forque-o no <a href="https://github.com/Ladeia/my_campaign/" target="_blank">github</a>.</p>
<p><a href="{% url 'experience:contributors' %} ">Contribuidores</a></p>
</body>
</html>