<!--
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minha página</title>
</head>
<body>
<h1>Minhas campanhas || Minha página</h1>
<h2>{{user.username}} está logado</h2>

<div>
	<h3>Minhas campanhas<h3>
</div>

<div>
	<h3>Meus personagens<h3>
</div>

</body>
</html>