<!--
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Contribuidores</h1>
<p>Esta é a lista de pessoas que contribuem para o funcionamento do app:</p>
<p><a href="http://www.antonioladeia.com" target="_blank">Antonio Ladeia</a></p>
</body>
</html>